.container {
    max-height: 35vh;
    bottom: 0;
    padding-left: 150px;
    padding-top: 30px;
    display: flex;
}

.footerLeft {
    width: 33%;
}

.footerRight {
    width: 66%;
    display: flex;
}

.footerRightItem {
    width: 33%;
}

.logoFooter {
    max-width: 60%;
}

.textLogo {
    color: #585c65;
    font-size: 20px;
    line-height: 36px;
    margin: 20px 0px 30px;
    max-width: 370px;
}

.socialLogo {
    display: flex;
}

.twiterLogo {
    margin: 0px 30px;
}

.footerTitle {
    font-size: 20px;
    color: #40434a;
    margin-bottom: 25px;
}

.footerTitleItem {
    color: #70737c;
    font-size: 18px;
    line-height: 32px;
}

.footerTitleItem:not(:last-child) {
    margin-bottom: 24px;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding-left: 40px;
        padding-top: 30px;
    }

    .logoFooter {
        max-width: 55%;
    }

    .textLogo {
        font-size: 16px;
        padding-right: 15px;
    }

    .footerTitleItem {
        font-size: 16px;
    }

    .footerTitleItem:not(:last-child) {
        margin-bottom: 22px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        display: inline-block;
    }

    .footerLeft {
        width: 100%;
    }

    .footerRight {
        width: 100%;
        display: flex;
    }

    .socialLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 25px -40px;
    }

    .footerTitleItem {
        margin-bottom: 13px;
    }

    .footerTitle {
        margin-bottom: 22px;
    }
}
